extends layouts/frontend

block content
    div(style="text-align:center; position:relative; width:100%")
        img(src="img/pic_home.jpg", alt="Croquis designer", style="background-size:cover;")
        div(style="position:absolute; top:35%; left:41%") 
            h1(style="font-size:3em;color:white;background-color:black;opacity:.6;padding:2em") Welcome 