extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Connexion

            form.ui.large.form(method="post", action="/login")
                .ui.stacked.segment
                    +field('email', 'email', 'your.email@address.com')
                    +field('password', 'password', 'Password')
                    button(type="submit").ui.fluid.large.black.submit.button Login

                .ui.error.message