extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Matériaux et Fournisseurs

    p <strong>BBois</strong> : entreprise fournissant le <a href="/meublesBois">bois</a> des meubles : frêne, chêne, et noyer


    p <strong>MetaLo</strong> : entreprise fournissant le <a href="#">métal</a> : acier, inox, et aluminium


    p <strong>pPlastique</strong> : entreprise fournissant le <a href="#">plastique</a>
