extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Matériaux et Fournisseurs

    p BBois : entreprise fournissant le <a href="/meublesBois">bois</a> des meubles : frêne, chêne, et noyer


    p MetaLo : entreprise fournissant le <a href="#">métal</a> : acier, inox, et aluminium


    p pPlastique : entreprise fournissant le <a href="#">plastique</a>
