extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1(style="margin-top:1em") Matériaux et Fournisseurs
    
    br
    br
    br
    .ui.middle.aligned.center.aligned.grid
        div(style="display:flex;font-family:Courier;margin-top:3em")
            img(src="img/entreprise_bois.jpg", alt="Logo entreprise Bbois", style="width:350px;height:200px;")
            label 
                h3(style="margin-left:4em") BBois
                p(style="width:60%;margin-left:5em;font-size:1.2em") Entreprise fournissant le <a href="/meublesBois" style="color:orange">bois</a> des meubles : frêne, chêne, et noyer

    br
    br
    br
    .ui.middle.aligned.center.aligned.grid
        div(style="display:flex;font-family:Courier")
            img(src="img/entreprises_metal.png", alt="Logo entreprise MetaLo", style="width:350px;height:200px;")
            label
                h3(style="margin-left:4em") MetaLo
                p(style="width:60%;margin-left:5em;font-size:1.2em") Entreprise fournissant le <a href="/meublesMetal" style="color:orange">métal</a> : acier, inox, et aluminium

    br
    br
    br
    .ui.middle.aligned.center.aligned.grid
        div(style="display:flex;font-family:Courier")
            img(src="img/entreprise_plastic.png", alt="Logo entreprise Pplastique", style="width:400px;height:200px;")
            label
                h3(style="margin-left:4em") Pplastique
                p(style="width:60%;margin-left:5em;font-size:1.2em") Entreprise fournissant le <a href="/meublesPlastic" style="color:orange">plastique</a>

    footer 
        div(style="padding:5em;background-color:brown;display:flex;margin-top:6em")
            img(src="img/logo.png", alt="Logo website D.app", style="width:15%;margin-left:10em")
            ul(style="list-style-type:none; font-family:Courier;font-size:1.4em;")
                li <a href="/realisations" style="color:orange;">Réalisations</a>
                li <a href="/materiaux" style="color:orange;">Matériaux</a>
                li <a href="/ajout-meuble" style="color:orange;">Ajouter un nouveau meuble</a>
                li <a href="/login" style="color:orange;">Login</a>