extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Matériaux et Fournisseurs
    
    br
    br
    br
    div(style="display:flex")
        img(src="img/entreprise_bois.jpg", alt="Logo entreprise Bbois", style="width:350px;height:200px;")
        label 
            h3 BBois
            p Entreprise fournissant le <a href="/meublesBois">bois</a> des meubles : frêne, chêne, et noyer

    br
    br
    br
    div(style="display:flex")
        img(src="img/entreprises_metal.png", alt="Logo entreprise MetaLo", style="width:350px;height:200px;")
        label
            h3 MetaLo
            p Entreprise fournissant le <a href="/meublesMetal">métal</a> : acier, inox, et aluminium

    br
    br
    br
    div(style="display:flex")
        img(src="img/entreprise_plastic.png", alt="Logo entreprise Pplastique", style="width:400px;height:200px;")
        label
            h3 Pplastique
            p Entreprise fournissant le <a href="/meublesPlastic">plastique</a>
