extends layouts/frontend

block content
    div
        a(href="/materiaux" style="color:brown") Retour aux matériaux
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Tous les meubles composés de bois

    each data in datas
        h3=data.name
        p=data.description
        img(src="img/"+ data.img, alt=data.type+" "+data.name style="width:200px;height:300px;")

    footer 
        div(style="padding:5em;background-color:brown;display:flex;margin-top:6em")
            img(src="img/logo.png", alt="Logo website D.app", style="width:15%;margin-left:10em")
            ul(style="list-style-type:none; font-family:Courier;font-size:1.4em;")
                li <a href="/realisations" style="color:orange;">Réalisations</a>
                li <a href="/materiaux" style="color:orange;">Matériaux</a>
                li <a href="/ajout-meuble" style="color:orange;">Ajouter un nouveau meuble</a>
                li <a href="/login" style="color:orange;">Login</a>