extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Réalisations 

            div
                p Par type
                a(href="/armoire" style="font-size:1.5em;color:brown") Armoires - 
                a(href="/etageres" style="font-size:1.5em;color:orange") Etagères 
            br
            a(href="/ajout-meuble" style="color:darkgreen") Ajouter un nouveau meuble
    

    h2 Toutes les réalisations
    img(src="img/armoire_01_bois.jpg", alt="", style="width:200px;height:300px;")
    div.label 
    br
    img(src="img/armoire_02_ferbois.jpg", alt="", style="width:200px;height:300px;")
    br
    img(src="img/armoire_03_ferbois.jpg", alt="", style="width:200px;height:300px;")
    br
    img(src="img/etagere_01_ferbois.jpg", alt="", style="width:200px;height:300px;")
    br
    img(src="img/etagere_02_fer.jpg", alt="", style="width:200px;height:300px;")
    br
    img(src="img/etagere_03_plastique.jpg", alt="", style="width:200px;height:300px;")
