extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Réalisations 

            div
                p Par type
                a(href="/armoire" style="font-size:1.5em;color:brown") Armoires - 
                a(href="/etagere" style="font-size:1.5em;color:orange") Etagères 
            br
            a(href="/ajout-meuble" style="color:darkgreen") Ajouter un nouveau meuble
    

    h2 Toutes les réalisations
    img(src="img/armoire_01_bois.jpg", alt="", style="width:200px;height:300px;")
    div.label Elegance
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium nam iusto illo, hic soluta, molestiae corrupti accusamus amet repudiandae corporis voluptatibus aliquid eum. Suscipit et aspernatur eum aut ipsa!
    br
    img(src="img/armoire_02_ferbois.jpg", alt="", style="width:200px;height:300px;")
    div.label Rounded
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium nam iusto illo, hic soluta, molestiae corrupti accusamus amet repudiandae corporis voluptatibus aliquid eum. Suscipit et aspernatur eum aut ipsa!
    br
    img(src="img/armoire_03_ferbois.jpg", alt="", style="width:200px;height:300px;")
    div.label Industrial
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium nam iusto illo, hic soluta, molestiae corrupti accusamus amet repudiandae corporis voluptatibus aliquid eum. Suscipit et aspernatur eum aut ipsa!
    br
    img(src="img/etagere_01_ferbois.jpg", alt="", style="width:200px;height:300px;")
    div.label Falling
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium nam iusto illo, hic soluta, molestiae corrupti accusamus amet repudiandae corporis voluptatibus aliquid eum. Suscipit et aspernatur eum aut ipsa!
    br
    img(src="img/etagere_02_fer.jpg", alt="", style="width:200px;height:300px;")
    div.label BlackSquare
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium nam iusto illo, hic soluta, molestiae corrupti accusamus amet repudiandae corporis voluptatibus aliquid eum. Suscipit et aspernatur eum aut ipsa!
    br
    img(src="img/etagere_03_plastique.jpg", alt="", style="width:200px;height:300px;")
    div.label Minimalist
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium nam iusto illo, hic soluta, molestiae corrupti accusamus amet repudiandae corporis voluptatibus aliquid eum. Suscipit et aspernatur eum aut ipsa!
