extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Réalisations 

            p Par type
            a(href="/armoire") Armoires 
            br
            a(href="/etageres") Etagères 


    h2 Toutes les réalisations
    img(src="armoire_01_bois.jpg", alt="", style='width:100px;height:100px;')