extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Réalisations 

            div
                p Par type
                a(href="/armoire" style="font-size:1.5em;color:brown") Armoires - 
                a(href="/etagere" style="font-size:1.5em;color:orange") Etagères 
            br
            a(href="/ajout-meuble" style="color:darkgreen") Ajouter un nouveau meuble
    

    h2 Toutes les réalisations
    each data in datas
        h3=data.name
        p=data.description
        img(src="img/"+ data.img, alt=data.type+" "+data.name style="width:200px;height:300px;")
        p=data.wood